h1{color:purple;margin-left:600px;font-size:50px;background-color:pink;}
h2{color:blue;margin-left:100px;font-size:40px;display:block;}
ad{color:purple;margin-left:150px;font-size:20px;margin-top:20px;display:block;}
usn{color:red;margin-left:20px;font-size:20px;}
name{color:red;margin-left:20px;font-size:20px;}
col{color:red;margin-left:20px;font-size:20px;}
branch{color:red;margin-left:20px;font-size:20px;}
year{color:red;margin-left:20px;font-size:20px;}
email{color:red;margin-left:20px;font-size:20px;}
